# VS Code settings - generated on setup, system-specific
.vscode/settings.json
code\satellite\__pycache__\RectangularMomentofInertia.cpython-311.pyc
code\satellite\__pycache__\SatelliteObject.cpython-311.pyc